[submodule "vendors/causality"]
	path = vendors/causality
	url = https://github.com/Rounak-Paul/causality.git
[submodule "vendors/quickjs"]
	path = vendors/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
